*{
    margin: auto;
    padding: auto;
}
form{
    width: 250px;
}
input{
    width: 100%;
}
/*input{
    box-shadow: 0 0 4px rgba(255,0,0,0.5);
    border: 1px solid rgb(255, 0, 0);
    }*/

    /*.btn{
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        background-color: green;
        cursor: pointer;
        outline: none;
        border: none;
        color: #fff;
        transition: .3s;

    }*/
